// ==========================================================

// 1382

// ==========================================================


// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================

.wrapper {
	padding-left: 0;
	padding-right: 0;
}

.teaser {
	h1 {
		padding-top: 4em;
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

// Touchpoint ============================================================================
.touchpoint .btn {
    width: 20%;
}
.touchpoint .paragraph-divider {
    width: 20%;
}