// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

// What =============================================================================
.grid-unit {
    border-right: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    height: 50%;
    width: 50%;
}

.info-default {
    padding: 28.6% 12%;
}

.info-over {
    padding: 16% 12% 30%;
}

@media only screen and (max-width: 768px) {
    .grid-unit:nth-of-type(n+5) {
        border-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .grid-unit:nth-of-type(2n+2) {
        border-right: 0;
    }
}