/* Variables =================================================== */
/* Mixins =================================================== */
.btn {
  background: rgba(245, 231, 139, 0.9);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }

.btn,
.btn:visited {
  color: #333333; }
