/* ============================================================

MAIN

============================================================ */
/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Variables =================================================== */
/* Mixins =================================================== */
/* Page =================================================== */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3em;
  color: black;
  -webkit-font-smoothing: antialiased; }

.centered {
  text-align: center;
  margin: 0 auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: block; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

.brand {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 2em 0;
  text-align: center; }
  .brand > a {
    border-bottom: 0;
    color: #666666;
    font-family: "NovecentoW00-WideDemiBo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .brand > a:visited {
      color: #666666; }
    .brand > a:hover {
      color: #333333;
      text-decoration: none;
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
      -o-transition: color 0.2s ease;
      transition: color 0.2s ease; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px; }

.header-container {
  background: white;
  border-top: 6px solid #28a7b8;
  position: relative;
  z-index: 10; }
  .header-container .wrapper {
    padding: 0; }

.main {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%; }

footer {
  background: #1f2829;
  padding: 3em 0;
  text-align: center; }
  footer a {
    color: white; }
    footer a:hover {
      color: white;
      text-decoration: underline; }
  footer p {
    color: #666666;
    line-height: 1.3em;
    margin-bottom: .375em; }
  footer .footer-primary {
    margin-bottom: 2em; }
  footer .footer-primary p,
  footer .footer-contacts {
    font-size: 1em;
    font-weight: 300; }
  footer .footer-contacts {
    color: white;
    list-style: none; }
    footer .footer-contacts li + li {
      margin-top: .175em; }
  footer .footer-contacts {
    margin-bottom: 2em; }
  footer .footer-social {
    margin: .775em auto 0;
    width: 60%; }
    footer .footer-social li {
      float: left;
      list-style: none;
      margin-right: 1.5em; }
    footer .footer-social a .ss-icon {
      font-size: 1.5em; }
    footer .footer-social a:hover {
      text-decoration: none; }
  footer .footer-copyright {
    font-size: 12px;
    font-size: 1.2rem;
    opacity: .5; }

.l-inverse {
  background: whitesmoke;
  padding: 2em; }

.l-inline li {
  display: inline-block;
  margin: 0 1em; }
  .l-inline li:first-child {
    margin-left: 0; }
  .l-inline li:last-child {
    margin-right: 0; }

.preview {
  padding-right: 0;
  padding-left: 0;
  position: relative; }
  .preview h2 {
    font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0; }
  .preview .link {
    cursor: pointer; }
  .preview .over {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    text-decoration: none; }
    .preview .over strong {
      display: block;
      margin: 50px 0 0 30px;
      font-size: 1.2em;
      color: #fff; }
    .preview .over p {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 5px 10px;
      background: #000;
      color: #fff; }

.preview:hover .link {
  opacity: 0; }
.preview:hover .over {
  opacity: 1;
  background: rgba(0, 0, 0, 0.75); }

.related {
  margin: 4em 0 2em; }
  .related li {
    float: left;
    list-style: none;
    margin-right: .3em;
    width: 48.7%; }

.touchpoint {
  clear: both;
  padding: 3em 0;
  text-align: center; }
  .touchpoint .btn {
    margin-bottom: .575em;
    width: 80%; }
  .touchpoint .paragraph-divider {
    border-top: 1px solid #bfbfbf;
    margin: .575em auto 1em;
    position: relative;
    width: 20%; }
    .touchpoint .paragraph-divider span {
      background-color: whitesmoke;
      color: #666666;
      left: 45%;
      padding: 0 5px; }

/* TYPOGRAPHY =================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "NovecentoW00-WideDemiBo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility; }

h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf; }

h1,
.h1 {
  margin-bottom: 0.65em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2; }

h1.page-title {
  clear: both;
  color: #28a7b8;
  font-family: "NovecentoW00-WideLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-size: 4.2rem;
  padding-bottom: 20px;
  text-align: center; }

h2,
.h2 {
  color: #333333;
  margin-bottom: 1.3em;
  margin-top: 1.3em;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2; }

h3,
.h3 {
  color: #666666;
  margin-bottom: 1.3em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3em; }

h4,
.h4 {
  margin-bottom: 1.3em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25; }

h5,
.h5 {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 1.3em; }

h6,
.h6 {
  margin-bottom: 1.3em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

p,
ol,
ul,
dl,
em,
small,
address {
  color: #666666;
  font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1.3em;
  line-height: 1.3em; }

small {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 0.43333em; }

ul,
ol {
  margin: 0 0 1.3em -24px;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem; }

strong {
  font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p, ul, ol, dl {
  font-family: "Proxima N W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p.lead {
  color: #333333;
  font-family: "Proxima N W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.15em;
  margin-bottom: 0.675em; }

p + p.lead {
  display: inline-block; }

.lead-email a {
  color: #28a7b8; }
  .lead-email a:hover {
    color: #1a6e79; }

blockquote {
  margin: 0 0 1.3em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.3em; }

dt {
  line-height: 1.3em;
  font-size: 18px;
  font-size: 1.8rem; }

dd,
dd em {
  font-size: 14px;
  font-size: 1.4rem; }

dd em {
  color: #bfbfbf;
  display: block;
  line-height: 1em; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f3f5f6;
  color: black;
  text-decoration: none; }

mark {
  background-color: #f3f5f6;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

.more a {
  line-height: 3.5em;
  font-size: 16px;
  font-size: 1.6rem; }

.paragraph-divider {
  border-top: 1px solid #bfbfbf;
  position: relative; }
  .paragraph-divider span {
    color: #bfbfbf;
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    top: -13px; }

/* Colour =================================================== */
a {
  font-family: "Proxima N W01 Reg";
  text-decoration: none;
  color: #2455c3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    border-color: #bfbfbf;
    text-decoration: none;
    color: #1c4298; }
  a:focus {
    outline: thin dotted;
    color: #0c1d42; }
  a:hover, a:active {
    outline: 0; }

::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none; }

::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none; }

.twitter {
  color: #00A0D1; }

.swatch {
  margin: 0 0 1.3em 0;
  padding: 0; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px; }

.swatch-row-one {
  background-color: black; }

.swatch-row-two {
  background-color: white; }

.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px; }

.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9); }

.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8); }

.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7); }

.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6); }

.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9); }

.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8); }

.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7); }

.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6); }

.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9); }

.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8); }

.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7); }

.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6); }

.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9); }

.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8); }

.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7); }

.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6); }

.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9); }

.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8); }

.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7); }

.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6); }

.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9); }

.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8); }

.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7); }

.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6); }

/* Texture =================================================== */
.alert {
  margin-bottom: 1.3em;
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #f2e187;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #9c8611; }
  .alert .alert-heading {
    color: inherit; }
  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    float: right;
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 18px;
    color: inherit; }

.alert-success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834; }

.alert-warning {
  background-color: #fee7c7;
  border-color: #fcd296;
  color: #c17305; }

.alert-error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49; }

.alert-inverse {
  background-color: #414141;
  border-color: black;
  color: white; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }
  .alert-block .alert-heading {
    margin-bottom: 0.1625em;
    font-size: inherit;
    font-weight: bold; }
  .alert-block > p,
  .alert-block > ul {
    margin-bottom: 0; }
  .alert-block p + p {
    margin-top: 5px; }

.badge {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  color: #666666;
  background-color: whitesmoke;
  -webkit-border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 9px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear; }
  .badge:hover {
    color: #666666;
    text-decoration: none;
    cursor: pointer; }

.badge-error {
  background-color: #da4f49;
  color: white; }
  .badge-error:hover {
    background-color: #9d2520;
    color: white; }

.badge-warning {
  background-color: #faa732;
  color: white; }
  .badge-warning:hover {
    background-color: #c17305;
    color: white; }

.badge-success {
  background-color: #5bb75b;
  color: white; }
  .badge-success:hover {
    background-color: #347834;
    color: white; }

.badge-info {
  background-color: #d9edf7;
  color: #247fad; }
  .badge-info:hover {
    background-color: #85c5e5; }

.badge-inverse {
  background-color: #414141;
  color: white; }
  .badge-inverse:hover {
    background-color: #0e0e0e;
    color: white; }

.well {
  min-height: 21px;
  padding: 11px;
  margin-bottom: 1.3em;
  background-color: #f3f5f6;
  border: 1px solid #b8c1cb;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 10px #d6dbe1;
  -moz-box-shadow: inset 0 1px 10px #d6dbe1;
  box-shadow: inset 0 1px 10px #d6dbe1; }
  .well p:last-child {
    margin-bottom: 0; }

.well-large {
  padding: 22px; }

.well-small {
  padding: 6px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Elements =================================================== */
.divider:before {
  content: '';
  display: block;
  margin: 4em auto;
  width: 100px;
  border-top: 5px solid whitesmoke; }

hr {
  clear: both;
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin-bottom: 1.3em; }
  figure img {
    margin-bottom: 0.325em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    color: #666666; }

.list-bordered {
  list-style-type: none;
  margin: 0 0 1.3em 0;
  padding: 0; }
  .list-bordered li {
    margin-bottom: 0.325em;
    padding-bottom: 0.325em;
    border-bottom: 1px dashed #c7ced6; }
  .list-bordered li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-width: 0; }

.icon-big {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 1.5em; }

a > .ss-icon {
  color: #666666;
  opacity: .5;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

a:hover .ss-icon {
  opacity: 1; }

footer a > .ss-icon {
  color: white;
  font-size: 1.5em;
  opacity: .15; }

.lead-email .icon-big {
  color: #28a7b8;
  line-height: .6em; }

a:hover .twitter {
  color: #00A0D1; }
a:hover .dribbble {
  color: #ea4c89; }
a:hover .linkedin {
  color: #007bb6; }
a:hover .instagram {
  color: #517fa4; }

.btn-large {
  padding: 6px 12px; }

#cssawards {
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 555; }

#cssawards a {
  width: 95px;
  height: 50px;
  text-indent: -8000px;
  display: block;
  background: url(../images/cssa-brand-ribbon.png) no-repeat; }

/* Forms =================================================== */
form {
  margin: 0 0 1.3em 0; }
  form fieldset {
    margin-bottom: 1.3em;
    padding: 0;
    border-width: 0; }
  form legend {
    display: block;
    width: 100%;
    margin-bottom: 2.6em;
    *margin-left: -7px;
    padding: 0;
    color: black;
    border: 0;
    border-bottom: 1px solid #8c9bab;
    white-space: normal; }
    form legend small {
      font-size: 14px;
      font-size: 1.4rem;
      color: #bfbfbf; }
  form p {
    margin-bottom: 0.65em; }
  form ul {
    list-style-type: none;
    margin: 0 0 1.3em 0;
    padding: 0; }
  form br {
    display: none; }

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle; }

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: block;
  margin-bottom: 0.1625em;
  font-weight: bold;
  color: black;
  cursor: pointer; }
  label input,
  label textarea,
  label select {
    display: block; }

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.325em;
  background-color: white;
  border: 1px solid #8c9bab;
  color: black; }
  input:hover,
  textarea:hover,
  select:hover {
    border-color: #586879; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible; }

select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px; }

select {
  width: auto;
  background-color: white;
  font-size: 13px;
  font-size: 1.3rem; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed; }

input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem; }

input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem; }

.help-block,
.help-inline {
  color: #666666; }

.help-block {
  display: block;
  margin-bottom: 0.65em; }

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px; }

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0; }

.form-inline label {
  display: inline-block; }

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0; }

.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px; }

.form-search label {
  display: inline-block; }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

/* Buttons =================================================== */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 9px 15px 8px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  *margin-left: .3em; }
  .btn:visited, .btn:hover {
    text-decoration: none; }
  .btn:active {
    position: relative;
    top: 2px; }

input[type="submit"].btn:hover {
  border-color: #dbdbdb; }

.btn:first-child {
  *margin-left: 0; }

.btn-disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

.btn-error {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d353e), to(#c72f29));
  background-image: -webkit-linear-gradient(top, #2d353e, #c72f29);
  background-color: #c72f29;
  background-image: -moz-linear-gradient(top, #2d353e, #c72f29);
  background-image: -ms-linear-gradient(top, #2d353e, #c72f29);
  background-image: -o-linear-gradient(top, #2d353e, #c72f29);
  background-image: linear-gradient(top, #2d353e, #c72f29);
  background-repeat: repeat-x;
  border-color: #b22a24;
  border-bottom-color: #9d2520;
  color: white; }
  .btn-error:visited, .btn-error:hover {
    color: white; }

.btn-info {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), to(#afd9ee));
  background-image: -webkit-linear-gradient(top, #d9edf7, #afd9ee);
  background-color: #afd9ee;
  background-image: -moz-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -ms-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -o-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: linear-gradient(top, #d9edf7, #afd9ee);
  background-repeat: repeat-x;
  border-color: #9acfea;
  border-bottom-color: #85c5e5;
  color: #247fad; }
  .btn-info:visited, .btn-info:hover {
    color: #247fad; }

.btn-inverse {
  background: #28a7b8;
  color: white; }
  .btn-inverse:hover {
    background: #2394a3;
    color: white; }

.btn-primary {
  background-color: #f5e78a;
  border-color: #0d0f12;
  border-bottom-color: #020203;
  color: #333333; }
  .btn-primary:visited, .btn-primary:hover {
    color: #333333; }
  .btn-primary:hover {
    background: #f1dd5b; }

.btn-success {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb75b), to(#449b44));
  background-image: -webkit-linear-gradient(top, #5bb75b, #449b44);
  background-color: #449b44;
  background-image: -moz-linear-gradient(top, #5bb75b, #449b44);
  background-image: -ms-linear-gradient(top, #5bb75b, #449b44);
  background-image: -o-linear-gradient(top, #5bb75b, #449b44);
  background-image: linear-gradient(top, #5bb75b, #449b44);
  background-repeat: repeat-x;
  border-color: #3c893c;
  border-bottom-color: #347834; }

.btn-warning {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa732), to(#f39106));
  background-image: -webkit-linear-gradient(top, #faa732, #f39106);
  background-color: #f39106;
  background-image: -moz-linear-gradient(top, #faa732, #f39106);
  background-image: -ms-linear-gradient(top, #faa732, #f39106);
  background-image: -o-linear-gradient(top, #faa732, #f39106);
  background-image: linear-gradient(top, #faa732, #f39106);
  background-repeat: repeat-x;
  border-color: #da8205;
  border-bottom-color: #c17305; }

.btn-light {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-light:hover {
    border: 1px solid rgba(0, 0, 0, 0.6); }

.btn-link {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: background 0.2;
  -moz-transition: background 0.2;
  -ms-transition: background 0.2;
  -o-transition: background 0.2;
  transition: background 0.2; }
  .btn-link:hover {
    background: white;
    color: black; }

.btn-extlarge {
  padding: 11px 22px;
  font-size: 21px;
  font-size: 2.1rem;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

.btn-large {
  padding: 15px 22px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: normal; }

.btn-small {
  padding: 8px 12px 6px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px; }

.btn-mini {
  padding: 3px 5px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px; }

.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: 1.3em; }
  .btn-group .btn {
    position: relative;
    float: left;
    margin-left: -1px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
    .btn-group .btn:first-child {
      margin-left: 0;
      -webkit-border-top-right-radius: 2px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 2px;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topright: 2px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 2px;
      -moz-border-radius-topleft: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 0;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    .btn-group .btn:last-child {
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 2px;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 2px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 2px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-topleft: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 2px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    .btn-group .btn.large:first-child {
      margin-left: 0;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 4px;
      -moz-border-radius-topleft: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 0;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    .btn-group .btn.large:last-child {
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-topleft: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 4px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }

.btn-toolbar {
  clear: both;
  margin-top: 0.65em;
  margin-bottom: 0.65em; }
  .btn-toolbar .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

.btn.pull-right {
  margin-top: -.575em; }

/*@import "tables";*/
nav {
  background: #262626;
  overflow: hidden; }

nav ul {
  margin: 0;
  padding: 0; }

nav a {
  border-bottom: 0; }

nav a,
nav a:visited {
  border-bottom: 1px solid #333333;
  color: #666666;
  float: left;
  font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 12px 2%;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  width: 100%; }

nav a:hover {
  color: #333333;
  text-decoration: none; }

nav ul {
  float: left;
  width: 100%; }

nav li {
  float: left;
  width: 100%;
  text-align: left; }

nav li.active a {
  color: #333333;
  font-weight: 500; }

/* responsive-nav.js v1.0 by @viljamis */
.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden; }

#nav.opened {
  position: relative;
  max-height: 9999px; }

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
  height: 74px;
  overflow: hidden;
  opacity: .75;
  position: absolute;
  right: 0;
  background: url("../images/icon-menu-black.png") 50% 50% no-repeat;
  text-indent: -9999px; }
  #nav-toggle:hover, #nav-toggle:active {
    opacity: 1; }

@media screen and (min-width: 768px) {
  #nav-toggle {
    height: 120px; } }
.touchpoint .paragraph-divider {
  width: 85%; }

.p-home .brand a,
.p-home .brand a:visited {
  color: white; }
.p-home .brand {
  border-top: 0; }
.p-home #nav-toggle {
  background: url("../images/icon-menu-white.png") 50% 50% no-repeat; }
.p-home nav a:hover {
  color: white; }

.teaser {
  background: url("../images/home-teaser.jpg") 20% 0 no-repeat;
  background-size: cover;
  border: 0;
  color: #fff;
  padding-bottom: 6em; }
  .teaser header {
    text-align: center; }
  .teaser h1 {
    display: block;
    line-height: 1.1em;
    letter-spacing: -1px;
    font-size: 30px;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0 0;
    width: 80%; }
  .teaser nav a,
  .teaser nav a:visited {
    color: #bfbfbf; }
  .teaser nav a:hover {
    color: white; }

.intro {
  text-align: center; }
  .intro h2 {
    margin-bottom: 1em; }
  .intro h2:after {
    border-bottom: 2px solid #333333;
    content: '';
    display: block;
    margin: 1em auto 0;
    width: 10%; }
  .intro p {
    display: block;
    margin: 0 auto;
    width: 80%; }

.intro + .intro {
  margin-top: 2em; }

.featured {
  background: #d9e0e0;
  padding: 2em 0;
  text-align: center; }
  .featured h3 {
    margin-bottom: 1.3em;
    text-align: center; }
  .featured .preview h2 {
    text-align: left; }

.section-studio .btn {
  margin-bottom: 1em;
  width: 85%; }

@media only screen and (max-width: 600px) {
  .section-about .profile-photo {
    margin: 1em auto;
    width: 60%; } }
@media only screen and (max-width: 768px) {
  .section-about .span-2,
  .section-about .span-4 {
    width: 100%; }
  .section-about h2,
  .section-about .profile-photo {
    text-align: center; } }

.p-work .thumb, .p-work img {
  margin: 0; }
.p-work .main {
  padding-bottom: 0; }

.preview {
  margin-bottom: .3em; }

.clients {
  margin-bottom: 2em; }
  .clients li {
    margin: .5em 1.5em;
    width: 25%; }
  .clients img {
    opacity: .55; }

.stuff ul {
  margin-bottom: 0; }

.p-single .page-title {
  color: #666666; }

.screen {
  list-style: none;
  margin-bottom: .5em; }

.p-what .main {
  padding-bottom: 0; }
.p-what article p,
.p-what article ul {
  color: white; }

.grid {
  margin: 3em 0 0; }

.grid-unit {
  border-bottom: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  .grid-unit:last-child {
    border-bottom: 0; }

.info-default {
  display: block;
  padding: 12%; }

.info-over {
  background: #28a7b8;
  opacity: 0;
  padding: 12%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  -ms-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in; }
  .info-over > * {
    color: white; }
  .info-over p {
    font-family: "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .info-over p:after {
      border-bottom: 2px solid white;
      content: '';
      display: block;
      margin: 1em auto 0;
      width: 10%; }
  .info-over ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .info-over ul li {
      font-size: 16px;
      font-size: 1.6rem; }

.grid-unit:hover .info-default {
  opacity: 0; }
.grid-unit:hover .info-over {
  opacity: 1; }

.approach {
  margin-bottom: 2.5em; }

@media print {
  /* Print =================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #666666;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */ }
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  .grid-unit {
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    height: 50%;
    width: 50%; }

  .info-default {
    padding: 28.6% 12%; }

  .info-over {
    padding: 16% 12% 30%; } }
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .grid-unit:nth-of-type(n+5) {
    border-bottom: 0; } }
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .grid-unit:nth-of-type(2n+2) {
    border-right: 0; } }
@media only screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 32px;
    font-size: 3.2rem; }

  h1.page-title {
    font-size: 50px;
    font-size: 5rem; }

  h2,
  .h2 {
    font-size: 24px;
    font-size: 2.4rem; }

  h3,
  .h3 {
    font-size: 18px;
    font-size: 1.8rem; }

  h4,
  .h4 {
    font-size: 16px;
    font-size: 1.6rem; }

  h5,
  .h5 {
    font-size: 14px;
    font-size: 1.4rem; }

  h6,
  .h6 {
    font-size: 12px;
    font-size: 1.2rem; }

  p,
  ol,
  ul,
  dl,
  small,
  address {
    font-size: 20px;
    font-size: 2rem; }

  small {
    font-size: 16px;
    font-size: 1.6rem; }

  p.lead {
    font-size: 26px;
    font-size: 2.6rem; }

  .paragraph-divider span {
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    top: -13px; }

  .l-inverse {
    padding: 3em 0 4em; }

  [class*="span"] {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0; }
    [class*="span"].pull-right {
      float: right;
      padding-left: 0; }

  [class*="span"]:nth-of-type(1) {
    padding-left: 0; }

  [class*="span"]:last-child {
    padding-right: 0; }

  .span-1 {
    width: 15%; }

  .span-2 {
    width: 32%; }

  .span-3 {
    width: 49%; }

  .span-4 {
    width: 66%; }
    .span-4 > .span {
      width: 50%;
      padding-left: 0; }

  .fullspan {
    width: 100%;
    padding: 0; }
    .fullspan > .span {
      width: 50%; }

  .brand {
    font-size: 22px;
    font-size: 2.2rem;
    padding: 6% 0; }

  .teaser {
    padding-bottom: 2em; }
    .teaser h1 {
      clear: both;
      display: inline-block;
      font-size: 48px;
      font-size: 4.8rem;
      margin-top: 35%; }

  .main {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 2em; }

  .main article {
    float: left;
    width: 57%; }

  .main aside {
    float: right;
    width: 28%; }

  .intro {
    padding: 2em 0; }
    .intro p {
      font-size: 18px;
      font-size: 1.8rem;
      padding: 0 12%; }

  .intro + .intro {
    margin: 0; }

  footer .footer-primary p,
  footer .footer-contacts {
    font-size: 22px;
    font-size: 2.2rem; }
  footer .footer-primary {
    margin-bottom: 3em; }
  footer .footer-social {
    width: 35%; }

  .featured .preview {
    margin: 0 .2em 3em 0;
    padding: 0; }
    .featured .preview:last-child {
      margin-right: 0; }

  .featured figure {
    margin-bottom: 0; }

  .touchpoint .btn {
    width: 40%; }

  .touchpoint .paragraph-divider {
    width: 45%; }

  .p-work .preview {
    margin: 0 .375em .375em 0;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    width: 48%; }

  .p-single .header-container {
    border-bottom: 0; }
  .p-single .main {
    padding: 0; }

  .screens {
    padding-left: 0; }

  .details {
    float: right; }

  .p-what .lead {
    text-align: center; }

  .approach {
    margin-bottom: 4em; } }
@media only screen and (min-width: 768px) and (max-width: 768px) {
  .section-about .span-2,
  .section-about .span-4 {
    width: 100%; }
  .section-about .about-photo {
    text-align: center; } }
@media only screen and (min-width: 992px) {
  h1.page-title {
    text-align: left; }

  .lead-email {
    font-size: 48px;
    font-size: 4.8rem; }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px; }

  .brand {
    float: left;
    padding: 3% 0; }

  .header-container {
    padding-top: 3%;
    padding-bottom: 3%; }
    .header-container .wrapper {
      padding-right: 20px;
      padding-left: 20px; }

  .teaser {
    background-position: 0 0;
    padding-bottom: 10%; }
    .teaser h1 {
      letter-spacing: 0;
      margin-top: 10%; }
    .teaser nav {
      padding: 0; }
    .teaser .btn {
      display: block;
      width: 30%;
      margin: 0 auto; }

  footer {
    padding: 4.5em 0;
    text-align: left; }
    footer .footer-primary {
      float: left;
      margin-bottom: 0; }
    footer .footer-contacts,
    footer .footer-secondary {
      margin-top: 0; }
    footer .footer-contacts {
      float: right;
      margin: 0; }
    footer .footer-secondary {
      clear: both; }
    footer .footer-copyright {
      float: left; }
    footer .footer-social {
      float: right;
      padding: 0;
      width: auto; }

  nav {
    background: none;
    float: right;
    width: 50%;
    margin-bottom: 20px;
    overflow: hidden; }

  nav ul {
    margin: 0;
    padding: 0; }

  nav a {
    border-bottom: 0;
    font-size: 22px;
    font-size: 2.2rem; }

  nav a,
  nav a:visited {
    float: left;
    width: 18%;
    margin: 0 1.7%;
    padding: 12px 2%;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }

  nav ul,
  nav li {
    float: none;
    width: auto; }

  nav li.active a {
    font-weight: 500; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; }

  nav {
    margin-bottom: 0; }
    nav li a {
      padding-top: 30px;
      padding-bottom: 30px; }

  /* responsive-nav.js v1.0 by @viljamis */
  .js #nav {
    position: relative;
    max-height: none; }

  #nav-toggle {
    display: none; }

  .intro {
    padding: 2em 0; }

  .intro p {
    width: 72%; }

  .featured {
    padding: 3em 0; }

  .touchpoint .btn {
    width: 30%; }

  .touchpoint .paragraph-divider {
    width: 25%; }

  .section-about h2,
  .section-about .profile-photo {
    text-align: left; }
  .section-about h2 {
    margin-top: 2em;
    margin-left: 34%; }
  .section-about .profile-photo {
    margin-top: -3em; }

  .p-single .main {
    padding: 0; }
  .p-single .page-title {
    padding-top: 1.2em; }
  .p-single .lead {
    padding-bottom: 2.2em; }

  .work-intro.epma {
    background: #316386; }
    .work-intro.epma .page-title,
    .work-intro.epma .lead {
      color: white; }

  .related {
    margin: 5em 0; }

  .p-what .lead {
    text-align: left; }

  .grid-unit {
    width: 33%; }
    .grid-unit:nth-of-type(3n+3) {
      border-right: 0; }
    .grid-unit:nth-of-type(n+4) {
      border-bottom: 0; }
    .grid-unit:hover {
      cursor: pointer; }

  .info-default {
    padding: 30% 24%; }

  .info-over {
    padding: 25% 15% 35%; } }
@media only screen and (min-width: 1382px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0; }

  .teaser h1 {
    padding-top: 4em; }

  .touchpoint .btn {
    width: 20%; }

  .touchpoint .paragraph-divider {
    width: 20%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */ }
